module.exports = {
  twoDecimal: function (num) {
    var result = parseFloat(num);
    if (isNaN(result)) {
      console.log('传递参数错误，请检查！');
      return 0;
    }
    result = Math.round(num * 100) / 100;
    var s_x = result.toString();
    var pos_decimal = s_x.indexOf('.');
    if (pos_decimal < 0) {
      pos_decimal = s_x.length;
      s_x += '.';
    }
    while (s_x.length <= pos_decimal + 2) {
      s_x += '0';
    }
    return s_x;
  }
}